.commentActionContainer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.commentReplyContainer {
  position: relative;
  margin: 12px 0 12px 24px;
}

.commentReplyContainer::before {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 0;
  left: -22px;
  border-left: 3px solid var(--gray-d9);
}
