@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black: #333333;
  --orange: #cc6633;
  --green: #a4cc33;
  --whiteLightness: 100%;
  --white: hsl(0, 0%, var(--whiteLightness));
  --gray-f4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
  --gray-f3: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --grey-ec: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
  --gray-d9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
  --gray-c4: hsl(0, 0%, calc(var(--whiteLightness) - 23%));
  --gray-99: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --gray-66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--gray-f4);
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

p {
  margin: 0;
}
